<!DOCTYPE html>
<html>
    <head>
        <title>
            SF Food Truck Locator
        </title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{% static 'locatorApp/index.js' %}"></script>
    </head>
    <body>
        <h1>
            San Francisco Food Truck Locator
        </h1>
        <br>
        <div class='row'>
            <div class='col-6'>
                <h2>
                    Find a food truck nearby
                </h2>
                <form name="Coordinates" action="{% url 'nearest_form' %}" onsubmit="return validateForm()" method="post">   
                    {% csrf_token %}
                    <label>Please enter your coordinates:</label> <br>
                    <label for="latitude">Latitude:</label>
                    <input name="latitude" id="latitude" type="text"/> <br>
                    <label for="longitude">Longitude:</label>
                    <input name="longitude" id="longitude" type="text"/> <br>
                    <input type="submit" value="Find nearest food trucks"/>
                </form>
            </div>
            <div class='col-6'>
                <h2>
                    Active Food Truck Listing
                </h2>
                <ul>
                    {% for food_truck in food_trucks %}
                        <li>
                            {{ food_truck }}
                        </li>
                    {% empty %}
                        <li>
                            No food trucks returned by query.
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </body>
</html>